* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav-index {
    height: 50px;
    width: 100%;
    background-color: #00235B;
    position: relative;
  }
  
  .nav-index > .nav-header {
    display: inline;
  }
  
  .nav-index > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: white;
    padding: 10px 10px 10px 10px;
  }
  
  .nav-index > .nav-btn {
    display: none;
  }
  
  .nav-index > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav-index > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav-index > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav-index > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav-index > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav-index > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav-index > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav-index > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav-index > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav-index > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav-index > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav-index > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

 
   
  .nav-education {
    height: 50px;
    width: 100%;
    background-color: #E74646;
    position: relative;
  }
  
  .nav-education > .nav-header {
    display: inline;
  }
  
  .nav-education > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: white;
    padding: 10px 10px 10px 10px;
  }
  
  .nav-education > .nav-btn {
    display: none;
  }
  
  .nav-education > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav-education > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav-education > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav-education > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav-education > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav-education > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav-education > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav-education > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav-education > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav-education > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav-education > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav-education > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  } 



    
  .nav-experience {
    height: 50px;
    width: 100%;
    background-color: #569DAA;
    position: relative;
  }
  
  .nav-experience > .nav-header {
    display: inline;
  }
  
  .nav-experience > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: white;
    padding: 10px 10px 10px 10px;
  }
  
  .nav-experience > .nav-btn {
    display: none;
  }
  
  .nav-experience > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav-experience > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav-experience > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav-experience > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav-experience > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav-experience > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav-experience > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav-experience > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav-experience > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav-experience > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav-experience > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav-experience > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  } 


    
  .nav-skills {
    height: 50px;
    width: 100%;
    background-color: #E74646;
    position: relative;
  }
  
  .nav-skills > .nav-header {
    display: inline;
  }
  
  .nav-skills > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: white;
    padding: 10px 10px 10px 10px;
  }
  
  .nav-skills > .nav-btn {
    display: none;
  }
  
  .nav-skills > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav-skills > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav-skills > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav-skills > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav-skills > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav-skills > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav-skills > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav-skills > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav-skills > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav-skills > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav-skills > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav-skills > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  } 

  
  .nav-projects {
    height: 50px;
    width: 100%;
    background-color: #6A2C70;
    position: relative;
  }
  
  .nav-projects > .nav-header {
    display: inline;
  }
  
  .nav-projects > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: white;
    padding: 10px 10px 10px 10px;
  }
  
  .nav-projects > .nav-btn {
    display: none;
  }
  
  .nav-projects > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav-projects > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav-projects > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav-projects > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav-projects > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav-projects > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav-projects > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav-projects > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav-projects > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav-projects > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav-projects > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav-projects > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  } 